{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @keyframes slide {
        from {
            transform: translateX(0)
        }

        to {
            transform: translateX(-100%)
        }
    }

    .logos {
        overflow: hidden;
        padding: 60px 0;
        background: white;
        white-space: nowrap;
    }



    .logos-slide {
        display: inline-block;
        animation: 25s slide infinite linear;
    }

    .logos-slide img {
        height: 50px;
        margin: 0 40px;
    }
